@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.logo {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
.h1 {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}
html,
body {
  height: 100%;
  
}

body {
  overflow: hidden; /* disable default browser scroll */
}

#app-wrapper {
  will-change: transform;
}
.h2 {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
